BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
NamespaceIndentation: All
AlignAfterOpenBracket: false
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
LambdaBodyIndentation: Signature
