BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
NamespaceIndentation: All
AlignAfterOpenBracket: false
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: true
LambdaBodyIndentation: Signature
SortIncludes: false
FixNamespaceComments: false
InsertNewlineAtEOF: true
Cpp11BracedListStyle: false